// Commands for each task will need to be changed depending on the shell you are using
{
  "version": "2.0.0",
  "presentation": {
    "echo": false,
    "reveal": "always",
    "focus": false,
    "panel": "dedicated",
    "showReuseMessage": true
  },
  "tasks": [
    {
      "label": "Create terminals",
      "dependsOn": [
        "Backend",
        "Frontend",
        "Git",
      ],
      // Mark as the default build task so cmd/ctrl+shift+b will create them
      "group": {
        "kind": "build",
        "isDefault": true
      },
      // Try start the task on folder open
      "runOptions": {
        "runOn": "folderOpen"
      }
    },
    {
      "label": "Backend",
      "type": "shell",
      "command": "clear",
      "options": {
        "cwd": ".",
        "shell": {
          "executable": "pipenv",
          "args": ["shell"]          
        }
      },
      "isBackground": true,
      "problemMatcher": [],
      "icon": { "color": "terminal.ansiBlack", "id": "server" }
    },
    {
      "label": "Frontend",
      "type": "shell",
      "command": "bash",
      "options": {
        "cwd": "./react-app",
        "shell": {
          "executable": "",
          "args": []
        }
      },
      "isBackground": true,
      "problemMatcher": [],
      "icon": { "color": "terminal.ansiRed", "id": "browser" }
    },
    {
      "label": "Git",
      "type": "shell",
      "command": "bash",
      "options": {
        "cwd": "./",
        "shell": {
          "executable": "",
          "args": []
        }
      },
      "isBackground": true,
      "problemMatcher": [],
      "icon": { "color": "terminal.ansiGreen", "id": "github-inverted" }
    },
    {
      "label": "zsh",
      "type": "shell",
      "command": "sleep 3 && bash",
      "options": {
        "cwd": "./react-app",
        "shell": {
          "executable": "",
          "args": []
        }
      },
      "isBackground": true,
      "problemMatcher": [],
      "icon": { "color": "terminal.ansiGreen", "id": "terminal" }
    }
  ]
}