.search-box {
  margin-bottom: 0px;
}

.search-dropdown {
  position: absolute;
  padding: 10px;
  list-style: none;
  margin-top: 1px;
  width: 359px;
  border: 1px solid rgba(0, 0, 0, 0.038);
  box-sizing: border-box;
  border-top: none;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.825);
}

.search-dropdown-hidden {
  position: absolute;
  padding: 10px;
  list-style: none;
  margin-top: 1px;
  width: 359px;
  box-sizing: border-box;
  border-top: none;
  font-size: 12px;
  background-color: white;
}

.search-dropdown li {
  margin-bottom: 7px;
}

.search-dropdown li:hover {
  cursor: pointer;
  color: grey;
}


#search-allowance-buttons {
  margin-top: max(75px, 5%);
}

.cast-member {
  border: 1px solid black;
  font-size: 13px;
  padding: 2px 10px;
  margin: 5px 3px 0 0;
  border-radius: 50px;
  line-height: 17px;
  display: inline-block;
  box-sizing: border-box;
  cursor: default;
}

.cast-member-hover {
  border: 2px solid grey;
  font-size: 13px;
  padding: 2px 10px;
  margin: 4px 2px -1px -1px;
  border-radius: 50px;
  line-height: 17px;
  display: inline-block;
  box-sizing: border-box;
  cursor: default;
  color: grey;
}

.remove-cast-member {
  line-height: 13px;
  vertical-align: text-top;
  cursor: pointer;
}